.box {
    width: 500px;
    height: 500px;
    background-color: #107003;
}


.box:active {
    background-color: blue;
    transform: translate(-100px);
    transform: scale(1.5);
    transform: rotate(45deg);
    transition-property: background-color, transform;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;


}


