body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
   
}

ul {
    list-style: none;
    display: flex;
    gap:100px;
}


@media (max-width: 1000px) {
    ul {
        list-style: none;
        display: flex;
        gap:50px;
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        
    }
}

@media (max-width: 500px) {
    nav {
        list-style: none;
        display: flex;
        gap:25px;
        flex-direction: column;
        align-items: flex-start;
    }

}

